@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "MonoSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Mona-Sans.woff2) format("woff2");
  }
}
@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/Mona-Sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Mona Sans", sans-serif;
}
.ant-typography {
  font-family: "Mona Sans", sans-serif;
}
